body{
    background-image: url(https://th.bing.com/th/id/OIP.QTs7HUg0AZqpVA8SXew9xwHaEK?pid=ImgDet&rs=1);
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    color: white;
}
header{
    height: 30%;
    font-size: 30px;
    padding: 3% 0 3% 0;
    font-family: 'Roboto Mono', monospace;
}
main{
    width: 50%;
}
footer{
    height: 30%;
    font-size: 20px;
    padding: 8% 0 1% 0;
    font-family: 'Roboto Mono', monospace;
}
.corpo{
    display: flex;
    flex-direction: row;
    background: black;
    color:rgb(5, 83, 5);
    margin: 1% 1% 1% 1%;
    padding: 3% 3% 3% 3%;
    font-family: 'Roboto Mono', monospace;
}
.pega-mensagem{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 3% 0 3%;
}
.formulario{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.inicio, .meio-1, .meio-2, .fim{
    margin: 2% 0 2% 0;
}
.respostas{
    margin: 1% 3% 0 3%;
    width: 50%;
}
textarea{
    width: 100%;
    height: auto;
    background-color: black;    
}
input{
    background-color: black;
}
input, textarea, button{
    border-color: rgb(5, 83, 5);
    margin: 5px 0 5px 0;
}
button{
    background-color: rgb(5, 83, 5);
    font-family: 'Roboto Mono', monospace;
    padding: 2% 0 2% 0;
    font-size: 16px;
}
.mensagem{
    height: 90%;
}

@media screen and (max-width: 700px) {
    body{
        text-align: center;
    }
    main{
        width: 80%;
        text-align: justify;
    }
    .corpo{
        flex-direction: column;
    }
    .mensagem{
        width: 188%;
    }
}